%form{method: "POST", action: "/foursquare"}
  %p
    %input{type:"text", name:"postcode"}

  %input{type:"submit", value: "Search"}

.cf-shops
  - unless @coffee_shop_list.nil?
    %table{:border => 1}
      %tbody
        %tr
          %td Name
          %td Address
          %td Popularity
        - @coffee_shop_list.each do |coffee_shop|
          %tr
            %td= coffee_shop[:name]
            %td= coffee_shop[:address]["formattedAddress"].join(",")
            %td= coffee_shop[:rating]