!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title FourSquare - Coffee Shops
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "/css/app.css", :rel => "stylesheet"}/
   
  %body
    - unless error.nil?
      = error

    %h3
      Enter a postcode
    = yield